
/*------css reset------*/

*{
    padding: 0;
    margin: 0;
    font size:100%;
    line-height: 1em;
}

/*---------- Colours & aesthetics---*/
body {
	background: #DEEDF7;
	margin: 10px;
}

h1 {
	font-size: 175%;
	text-align: center;
}

h2 {
	background-color: #CEB0FF;
}

p {
	border: 1px;
	border-color: black;
}





















@media (min-width: 992px) {}

@media (min-width: 768px) and (max-width: 991px){}

@media (max-width: 767px) {}