
body {background-color: #DEEDF7;}

h1 {background-color: #CEB0FF;}

section {border: 1px;
		border-color: black;}





















@media (min-width: 992px) {}

@media (min-width: 768px) and (max-width: 991px){}

@media (max-width: 767px) {}